<!-- NAVBAR -->
<nav class="navbar navbar-expand-sm navbar-light bg-warning">
    <div class="container">
        <a href="/" class="navbar-brand"><i class="fas fa-adjust"></i> QuiteLive</a>
        <button class="navbar-toggler border-dark" data-toggle="collapse" data-target="#navbarCollapse">
            <i class="fas fa-angle-down"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-2">
                    <a href="/info" class="nav-link">
                        <i class="fas fa-info-circle"></i>
                        &nbsp;Info
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a href="/info" class="nav-link">
                        <i class="fas fa-play"></i>
                        &nbsp;Start
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>