{% extends "base.html" %}

{% block content %}

<!-- PICTURE DASHBOARD -->

<section id="picture-description" class="bg-light pt-3">
    <div class="container pb-4">
        <div class="row">
            <div class="col-md-5 p-3 p-md-0">
                <div class="card">
                    <div class="card-header bg-info">
                        <span class="h5">
                            <i class="fas fa-bars pr-1"></i>
                            Description
                        </span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {% if description %}
                            {{ description }}
                            {% else %}
                             All you need to get started is to open up the the browser to our secure dashboard. Using a webcam, record your true self as our powerful back-end hashes your video frames for the block-chain. Will let you know when your video is fully processed.
                            {% endif %}
                    </div>
                </div>
                <div class="pt-3">
                    <button id="startCapture" class="btn btn-block d-none btn-success">
                        <div class="h3 p-1 pt-2">
                            <i class="fas fa-play pr-2"></i>
                            Start Stream
                        </div>
                    </button>
                     <button id="stopCapture" class="btn btn-block d-none btn-danger">
                        <div class="h3 p-1 pt-2">
                            <i class="fas fa-stop pr-2"></i>
                            Stop Stream
                        </div>
                    </button>
                    <button id="showVideo" class="btn btn-block btn-info">
                        <div class="h3 p-1 pt-2">
                            <i class="fas fa-video pr-2"></i>
                            Enable Video
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card h-100" style="background: #ddd">
                    <video id="camera-window" autoplay playsinline></video>
                    <canvas id="canvasElement" width="640" height="480" hidden></canvas>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}